<!DOCTYPE html>
<html>
<br>
<style>

table, th, td {
  border: 0px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #0000FF;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}


table {
  border-collapse: white;
  width: 10%;
}

th {
  height: 35px;
}

ul {
    text-align: center;
    list-style-position: inside;
}

</style>
</head>
<body style="background-color:rgb(180, 180, 180);">

    <div style="text-align:center;">
     
        <h3 style="font-size: 20px">Password Reset Complete!</h3>
        <p>Your password has been set. You may go ahead and log in now.</p>


    </div>
    <div style="text-align: center;">

       <table style="font-size: 15px" class="center">
                    <tr>
                      <th><h3><a style="color: white;" href="/">Log in</a></h3>
                        
                      </th>
                    </tr>
        </table>
      
     </div>
          
</body>
</html>






