<!DOCTYPE html>
<html>
<style>

table, th, td {
  border: 20px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: rgb(240, 240, 240);
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}
</style>
</head>
<body style="background-color:rgb(180, 180, 180);">
<br>
<table class="center">
	<tr>
	<th>
		<div class="row">
			<div class="row">
				<div style="text-align: center;" 	class="card card-body">
					<p style="font-size: 20px;"> Email for password reset was sent!
					</p>
					<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

					<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
					</form>
				</div>
			</div>
		</div>
	</th>
</table>

</body>
</html>

